@tailwind base;
@tailwind components;
@tailwind utilities;

#body {
    position: relative;
    background-color: #F3EEEA;
    margin-left: 18.75rem;
    min-height: 100%;
    padding: 3rem 6rem;
    line-height: 2.5rem;
    font-family: 'Roboto', sans-serif;
}

#main-heading {
    color: #607274;
    font-size: clamp(1.75rem, 2vw, 3.125rem);
    align-self: center;
}

.text {
    font-size: clamp(1rem, 2vw, 1.125rem);
    color: #607274;
}

.footer {
    text-align: center;
    background-color: #EBE3D5;
    padding: 3rem 6rem;
    margin-left: 18.75rem;
}

h2 {
    margin: 1rem auto;
    color: #607274;
    font-size: clamp(1.25rem, 2vw, 1.875rem); 
}

a {
    text-decoration: underline;
    color: #3b9c9f; 
}

a:hover {
    color: #3b6978;
    text-decoration: none;
}