@tailwind base;
@tailwind components;
@tailwind utilities;

#body {
    position: relative;
    background-color: #F3EEEA;
    margin-left: 18.75rem;
    min-height: 100%;
    padding: 3rem 6rem;
    line-height: 2.5rem;
    font-family: 'Roboto', sans-serif;
}

#main-heading {
    color: #607274;
    font-size: clamp(1.75rem, 2vw, 3.125rem);
    align-self: center;
    margin-bottom: 1rem;
}

.text {
    font-size: clamp(1rem, 2vw, 1.125rem);
    color: #607274;
}

.footer {
    text-align: center;
    background-color: #EBE3D5;
    padding: 3rem 6rem;
    margin-left: 18.75rem;
}

h2 {
    margin: 1rem auto;
    color: #607274;
    font-size: clamp(1.25rem, 2vw, 1.875rem); 
}

a {
    text-decoration: underline;
    color: #3b9c9f; 
}

a:hover {
    color: #3b6978;
    text-decoration: none;
}

#list {
    padding-left: 1rem;
    list-style: inside;
}

pre {
    background-color: #f7f7f7;
    border-radius: 5px;
    border: 1px solid #ccc;
    overflow-x: auto;
    padding: 1rem;
    font-family: 'Roboto Mono', monospace;
    font-size: 0.875rem;
    line-height: 1.5;
    margin: 1.25rem 0;
}

code {
    color: #333;
}

img {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
