.navbar-grid-container {
    display: grid;
    position: fixed;
    width: 18.75rem;
    height: 100vh;
    background-color: #607274;
}

.nav-link {
    display: block;
    color: #D3D3D3 !important;
    font-size: 1.875rem;
    padding: 0.5rem 1rem;
}

.nav-link:hover {
    color: #A9A9A9 !important;
}

.navbar-container {
    border-color: #E5E7EB; 
    background-color: #111827; 
}