.navbar-grid-container {
    display: grid;
    position: fixed;
    width: 18.75rem;
    height: 100vh;
    background-color: #607274;
}

.nav-link {
    display: block;
    color: #D3D3D3 !important;
    font-size: 1.875rem;
    padding: 0.5rem 1rem;
}

.nav-link:hover {
    color: #A9A9A9 !important;
}

.navbar-container {
    border-color: #E5E7EB; 
    background-color: #111827; 
}

/*mobile screen*/

.navbar-flex-container {
    max-width: 1280px;
    display: flex;
    flex-wrap: wrap;
    align-items: center; 
    justify-content: space-between;
    padding: 1rem;
    margin-left: auto;
    margin-right: auto;  
}

.navbar-menu-button {
    display: inline-flex;
    align-items: center;
    padding: 0.5rem;
    width: 2.5rem; 
    height: 2.5rem;
    justify-content: center; 
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: #6B7280;
    border-radius: 0.5rem;        
}

.navbar-list {
    font-weight: 500;
    display: flex; 
    padding: 1rem; 
    flex-direction: column;
    margin-top: 1rem;
}