.warning-callout {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 0px;
    border-radius: 5px;
    align-items: center;
    margin: 1rem auto;
}

.warning-notice {
    display: flex;
    padding: 0.625rem 0.313rem;
    background-color: #B31312;
}

.warning-text {
    font-size: 1.125rem;
    color: #EEEDEB;
    line-height: 1;
}

.warning-callout-text {
    background-color: #CC4E5C;
    padding: 0.625rem 0.313rem;
    color: #EEEDEB;
    flex-grow: 1;
    font-size: 1.125rem;
}

.fa-circle-exclamation {
    color: #FF6B6B;
    font-size: 1.125rem;
    margin-right: 0.625rem;
}

@media (max-width:768px) {
    .warning-text {
        font-size: 1rem;
    }
    .warning-callout-text {
        font-size: 1rem;
    }
}
